@model Uni.PizzaMVC.Models.PizzaSelectionViewModel
@{
    ViewBag.Title = "Choose your pizza";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form action="@Url.Action("About", "Home")" method="post">
    @{int i = 0; }
    @{ foreach (var pizza in Model.Pizzas)
        {
            <h4>@pizza.Name</h4>
            <h5>Price: @pizza.Price</h5>
            <ul>
                @foreach (var ingredient in pizza.Ingredients)
                {
                    <li>@ingredient</li>
                }
            </ul>
            <button name="selection" type="submit" value="@i">Order</button>
            i++;
        }}
</form>