@model Uni.PizzaMVC.Models.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping cart";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@foreach (var pizza in Model.Pizzas)
{
    <div style="{border: 1px;}">
        <h4>@pizza.Name</h4>
        <h5>Price: @pizza.Price</h5>
        <ul>
            @foreach (var ingredient in pizza.Ingredients)
            {
                <li>@ingredient</li>
            }
        </ul>
    </div>
}
Total: @Model.Pizzas.Sum(x => x.Price)